.starIconButton {
  cursor: pointer;
  text-align: center;
}
.starIconButton:hover {
  transform: scale(1.1);
}
.starIconButton:active {
  transform: scale(0.9);
}
.repository {
  margin: 1rem;
  position: relative;
  min-height: 100px;
  padding: 1rem;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.repository:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.repository .hbIcon,
.repository .starIconButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.repoTitle {
  font-size: 22px;
}
